/com/nbproject/private/
/com/build/
/WebApplication/nbproject/private/
/WebApplication/build/
/RPi-LCD-JavaProgramming/nbproject/private/
/RPi-LCD-JavaProgramming/build/
/RPi-LCD-JavaProgramming/dist/
/RPi-LCD-JavaFXProgramming/nbproject/private/
/RPi-LCD-JavaFXProgramming/build/
/RPi-LCD-JavaFXProgramming/dist/
/RPi-LCD-JavaFXPorgramming/nbproject/private/
/RPi-LCD-JavaFXPorgramming/dist/
/RPi-LCD-JavaFXPorgramming/build/
/Hardware/nbproject/private/
/Hardware/build/
/Hardware/dist/
/Network/nbproject/private/
/Network/build/
/Network/dist/