.txtInput:focused{
    -fx-border-color:skyblue;
    -fx-background-color: #ffff00;
}
#btn1:hover{
    -fx-border-color:#000000;
    -fx-background-color: #ffff00;
}
#btn1:pressed{
    -fx-border-color:#000000;
    -fx-background-color: red;
}